<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content Type" />
</head>
<body>
<h1>Thank you for registering in WRITAPOST.com, <%= @user.name %></h1>
<p>
you have successfully signed up to WRITAPOST.com
</p>
<p>
To login to the site, just follow this link: <%= @url %>
</p>

<p>
have a great day <%= @user.name %>!
</p>
</body>
</html>