
/* universal */

:root {
    --brand-color-1 : #FA7C66;
    --text-color-1 : #FFF;
    --bg-color-1 : #FFF;
    --bg-color-2 : #333;
    --text-color-2 : #333;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


body {
    padding-top: 60px;
    background-color: var(--bg-color-1);
    color: var(--text-color-2);
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
  }
  
  .center h1 {
    margin-bottom: 10px;
  }

  /* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: var(--text-color-1);
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
    text-align: center;
  }

  .signup-link {
    text-align: center;
    font-weight: bold;
    background-color: var(--brand-color-1);
    margin-right: 60%;
    margin-left: 45%;
}
  .signup-link:hover {
      background-color: rgb(250, 104, 78);
  }
  
  /* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: var(--text-color-1);
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
  }
  
  #logo:hover {
    color: var(--text-color-2);
    text-decoration: none;
  }

  .navbar {
      color: var(--text-color-2);
      background-color: var(--brand-color-1);
  }

  .navbar-inverse .navbar-nav > li > a {
    color: var(--text-color-1);
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: var(--text-color-2);
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.btn-primary {
  background-color: var(--brand-color-1)
}
.btn-primary:hover {
  background-color: rgb(250, 104, 78);
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}

.alert {
  width: 100%;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

.create-post {
  font-size: 20px;
}

.post {
  margin-right: 60%;
  margin-left: 44%;
  font-size: 20px;
}

/* posts */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: gray;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


.contain {
  list-style: none;
  padding: 0;
  div {
    padding: 10px 0;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
    display: block;
  }
  .content {
    border-bottom: 1px solid #e8e8e8;
    display: block;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
.timestamp {
  color: gray;
  display: block;
  margin-left: 0px;
}
}
