<!DOCTYPE html>
<html>
  <head>
    <title>Home | WRITEAPOST</title>
  </head>
  <body>
    <h1>Welcome to WRITEAPOST!</h1>
    <p>
     You can write here as many posts as you like and the biggest advantage
     of WRITEAPOST is all the Users are fake.
     <%= link_to "Sign Up!", signup_path, class: "signup-link btn-lg btn btn-primary" %>
    </p>
  </body>
</html>
